@*@model IEnumerable<NetCoreBlog.Models.TagRelateArticle>*@
@model X.PagedList.IPagedList<NetCoreBlog.Models.TagRelateArticle>

@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                文章
                @*@Html.DisplayNameFor(model => model.Article)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tag)*@
                标签
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}),
    new PagedListRenderOptionsBase{ LinkToFirstPageFormat = "首页",
        LinkToNextPageFormat = "下一页", LinkToPreviousPageFormat = "上一页",
        LinkToLastPageFormat = "末页", MaximumPageNumbersToDisplay = 4,
        DisplayItemSliceAndTotal = false }
    )