@*@model IEnumerable<NetCoreBlog.Models.UserInfo>*@
@*@model PaginatedList<NetCoreBlog.Models.UserInfo>*@

@model X.PagedList.IPagedList<NetCoreBlog.Models.UserInfo>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">新建用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UserName)*@
                姓名
            </th>
            @*<th>
                密码
            </th>*@
            <th>
                用户类型
                @*@Html.DisplayNameFor(model => model.UserType)*@
            </th>
            <th>
                创建时间
                @*@Html.DisplayNameFor(model => model.CreatedAt)*@
            </th>
            <th>
                用户头像
                @*@Html.DisplayNameFor(model => model.UserImage)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PassWord)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserImage)*@
                    <img src="@item.UserImage" width="80" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page}),

    new PagedListRenderOptionsBase{ LinkToFirstPageFormat = "首页", LinkToNextPageFormat = "下一页", LinkToPreviousPageFormat = "上一页", LinkToLastPageFormat = "末页", MaximumPageNumbersToDisplay = 5, DisplayItemSliceAndTotal = false }
    )



@*@{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            上页
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            下页
        </a>*@





@*<p>
        <a asp-action="Create">新建用户</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassWord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassWord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <img src="@item.UserImage" width="80" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@